.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.wrapper h1 {
  color: coral;
}

.container {
  padding: 3rem;
  background-color: coral;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 5px 10px 1px #777;
  color: #fff;
}

.container input {
  margin: 2rem;
}
